<%= form_with(model: post, local: true) do |form| %>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_area :post, id: :post_post %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
